build: [ "dune" "build" "-p" name "-j" jobs "@install" "@runtest" {with-test} ]
flags: [ plugin ]
pin-depends: [
  [
    "opam-0install.0.4.2"
    "git+https://github.com/ocaml-opam/opam-0install-solver#4eede964fabba756e4c3c825f15da3bb499a9356"
  ]
]
